@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========= input number =========== */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-datepicker-wrapper {
  width: 100% !important;
}
/* ============ loader =============== */

.loader {
  width: 55px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #e2c479 94%, #0000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.5s infinite;
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

/* ======= swiper slider ======= */
:root {
  --swiper-navigation-color: #e49a38;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
  border-radius: 10px !important;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: none;
}
.swiper-button-disabled {
  color: #969696 !important;
  /* background-color: gray !important; */
}
